.na-news-card-swiper {
  margin-bottom: 20px;
}

.na-news-card {
  display: flex;
  margin-bottom: 30px;

  .na-news-info {
    margin-left: 50px;
    p {
      font-size: 20px;
    }
  }
}

.na-card-animal {
  img {
    width: 400px;
    object-fit: cover;
    height: 500px;
    cursor: pointer;
  }
}

.na-card-animal-sm {
  img {
    height: 200px;
    filter: grayscale(90%);
    width: 100%;
  }
}

.na-news-card-detail {
  flex-direction: column-reverse;
  .na-news-info {
    margin-left: 0;
  }
  .na-card-animal {
    img {
      width: 100%;
      height: 500px;
    }
  }
}
